<div class="card"
     [formGroup]="addressForm">
  <div class="card-header bg-light">
    <h3>Address</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <app-text-input label="Street One"
                          formControlName="streetOne"
                          placeholder="Street One">
          </app-text-input>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <app-text-input label="Street Two"
                          formControlName="streetTwo"
                          placeholder="Street Two">
          </app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <app-text-input label="City"
                          formControlName="city"
                          placeholder="City">
          </app-text-input>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <app-text-input label="State"
                          formControlName="state"
                          placeholder="State">
          </app-text-input>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <app-text-input label="Country"
                          formControlName="country"
                          placeholder="Country">
          </app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <app-text-input type="number"
                          label="Zip Code"
                          formControlName="zipcode"
                          placeholder="Zip Code">
          </app-text-input>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <app-text-input type="number"
                          label="Latitude"
                          formControlName="latitude"
                          placeholder="Latitude">
          </app-text-input>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <app-text-input type="number"
                          label="Longitude"
                          formControlName="longitude"
                          placeholder="Longitude">
          </app-text-input>
        </div>
      </div>
    </div>
  </div>
</div>